body {
  background: linear-gradient(130deg, rgba(28,27,56,1) 0%, rgba(5,5,51,1) 35%, rgba(2,57,69,1) 100%);
  color: #fff ;
  overflow: hidden;
  font-family: 'Titillium Web', sans-serif;
}
.all{
  padding: 15rem 0;
  h2 {
    position: relative;
    text-align: center;
    line-height: 1.4em;
    font-size: 80px !important;
    
  }
  .siteName{
    text-align: center;
    a{
      text-decoration: none !important;
      font-size: 14px;
      color: #Fff;
      font-weight: bold;
      letter-spacing: 1px;
      text-align: center;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        transition: .3s ease-in-out;
        left: 0;
        bottom: -3px;
        background: #fff;
        width: 0;
        height: 2px;
      }
      &::after{
        content: '';
        position: absolute;
        transition: .3s ease-in-out;
        right: 0;
        bottom: -3px;
        background: #fff;
        width: 0;
        height: 2px;
      }
      &:hover{
        &::before{
          width: 50%;
        }
        &::after{
          width: 50%;
        }
        color: #fff;
      }
    }
  }
  .social{
    margin-top: 20px;
    position: relative;
    i{
      color: #fff;
      font-size: 20px;
      border: 1px solid #fff;
      border-radius: 50px;
      padding: 10px 12px;
      cursor: pointer;
      margin: 0 10px;
      transition: .3s ease-in-out;
      &:hover{
        color: #000;
        background: #fff;
        transform: scale(1.2);
        border: 1px solid #fff;
      }
    }
  }

}


.main-text {
  position: relative;
  display: inline-block;
}

.back-text {
  position: absolute;
  width: 100%;
  left: 0;
  color: #fff;
  top: 0;
  display: inline-block;
}

.skew {
  animation: skew 0.95s infinite alternate;
}

.glitch {
  animation: glitch 0.8s infinite alternate;
}

@keyframes skew {
  0% {
    transform: skew(0deg);
  }
  20% {
    transform: skew(0deg);
  }
  24% {
    transform: skew(-7deg);
  }
  28% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(0deg);
  }
  74%{
    transform: skew(10deg);
  }
  78% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(0deg);
  }
}

@keyframes glitch{
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  20% {
    transform: translate3d(0, 0, 0);
    opacity: 0.3;
  }
  24% {
    transform: translate3d(5px, 4px, 0);
    opacity: 1;
  }
  28% {
    transform: translate3d(0, 0, 0);
  }
  60% {
    transform: translate3d(0, 0, 0);
  }
  64%{
    transform: translate3d(-4px, -3px, 0);
  }
  68% {
    transform: translate3d(0, 0, 0);
  }
  70% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  74%{
    opacity: 0.3;
    transform: translate3d(10px, -6px, 0);
  }
  78% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}